* {
  font-family: sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 62.5%;
  background: #333333;
}

header {
  width: 100%;
  height: 90px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 0 10px;
  background-color: #262626;
  position: relative;
  z-index: 10000;
}

header button {
  width: 100px;
  height: 100px;
  margin: 0 20px;
}

header h1 {
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 32px;
  font-size: 2rem;
}

#global-nav {
  position: fixed;
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #262626;
}

#global-nav ul {
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

#global-nav ul li {
  width: 50%;
  list-style-type: none;
  border-top: solid 1px #ffffff;
  /* iPad */
  padding-top: 18px;
  /* iPad */
}

#global-nav ul li a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
  display: flex;
  text-decoration: none;
  font-size: 25.6px;
  font-size: 1.6rem;
}

#global-nav ul li a i {
  margin-right: 10px;
  font-size: 32px;
  font-size: 2rem;
}

#global-nav ul li:first-child {
  border-right: solid 1px #ffffff;
}
